
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
.container{
    width: 100vw;
    height: 100vh;
}
h2{
position: absolute;
width: 1167px;
height: 41px;
left: 41px;
top: 59px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 41px;
color: #000000;
}
#btn {

position: absolute;
width: 250px;
height: 40px;
left: 32px;
top: 200px;
background: #000000;
border-radius: 10px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 23px;
text-align: center;
padding-top: 22px;
}
h3{
position: relative;
width: 1167px;
height: 41px;
left: 41px;
top: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 41px;
color: #000000;
}
.lable{
position: relative;
width: 1167px;
height: 82px;
left: 41px;
top: 40px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 41px;
display: flex;
flex-direction: row;
justify-content: space-around;
}
.map{
    position: relative;
width: 100vw;
height: 649px;
top: -390px;
left:41px
}

.lable2{
  position: relative;
width: 1167px;
height: 41px;
left: 41px;
top: -700px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 41px;
color: #000000;
flex-direction: column;
}
#filter{
box-sizing: border-box;
position: relative;
width: 100vw;
height: 60px;
border: 2px solid #000000;
border-radius: 10px;
top: -550px;
left: 41px;
right: 59px;
text-align: left;
font-size:24px;
justify-content: space-around;
padding-left: 25px;
background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
background-size: 20px;
}
.card{
box-sizing: border-box;
position: relative;
width: 950px;
height: 299px;
left: 49px;
top: -500px;
background: #FFFFFF;
border: 3px solid #000000;
border-radius: 10px;
display: flex;
flex-direction: row;
justify-content: space-around;
}
.card-body{
position: relative;
width: 900px;
height: 30px;
top: 10px;
left: 20px; 
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 20px;
line-height: 20px;
color: #000000;
}

